/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-image: url('https://img.freepik.com/free-photo/close-up-chocolate-arrangement_23-2148349283.jpg?w=1060&t=st=1694801356~exp=1694801956~hmac=63d7c8036defb9a0bced738db12ac8b1f5698ddab4321a53439df9e1c2d3a655'); 
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#chocolates {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.1); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.chocolate-item {
    background-color: #f7f7f7; 
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    width: 220px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    position: relative;
    overflow: hidden;
}

.chocolate-item:hover {
    transform: scale(1.05);
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

img {
    max-width: 100px;
    height: auto;
    margin: 0 auto 10px;
    display: block;
}

.chocolate-checkbox {
    margin-right: 5px;
}

.quantity-input {
    width: 50px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

p {
    font-size: 18px;
    margin-top: 20px;
    color: #fff;
   
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #0056b3;
}
.checkout{
    text-align: center;
    width: 30%;
    margin-top: 2rem;
    background-color: rgba(0, 0, 0, 0.5); 
}